@import 'imports/settings.imports';
.c-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &__btn{
    padding: 10px;
    font-size: 48px;
    color: $color-primary;
    border: 4px solid;
    min-width: 50px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-family: Shlop-Regular;
    line-height: 1;
    margin: 0 8px;

    &--no-click{
      background-color: transparent;
      border: none;
    }
  }
}
