:root{
    --color-primary: #00AFC8;
    --color-background: #d3f1f6;
    --color-black: #000000;
    --color-white-20: #ebebeb;
    --color-white-30: #b3b3b3;
    --color-white-40: #9c9c9c;
    --color-white-90: #1a1a1a;
    --color-white: #FFFFFF;
}