@import 'imports/settings.imports';

.c-menu {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  
  &__link {
    color: $color-primary;
    font-family: Shlop-Regular;
    font-size: 48px;
    text-decoration: none;
    margin: 0 24px;
    &--active{
      border-bottom: 4px solid;
    }
  }
}