<nav class="c-menu py-5">
  <a class="c-menu__link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
     routerLinkActive="c-menu__link--active">Home</a>
  <a class="c-menu__link" routerLink="/characters" routerLinkActive="c-menu__link--active">Characters</a>
  <a class="c-menu__link" routerLink="/locations" routerLinkActive="c-menu__link--active">Locations</a>
  <a class="c-menu__link" routerLink="/favorites" routerLinkActive="c-menu__link--active">Favorites</a>
  <a class="c-menu__link" routerLink="/contact" routerLinkActive="c-menu__link--active">Contact</a>
</nav>
