<form [formGroup]="myForm">
    <input formControlName="characterName" />
    <input formControlName="characterSpecie">
    <select formControlName="characterStatus">
        <option value="alive">Alive</option>
        <option value="dead">Dead</option>
        <option value="unknown">Unknown</option>

    </select>
    <select formControlName="characterGender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="genderless">Genderless</option>
        <option value="unknown">Unknown</option>
    </select>
    <button type="button" (click)="doSomething()">Buscar</button>
</form>