@import 'imports/settings.imports';
*{
    font-family: Shlop-Regular;
}
label{
    font-size: 25px;
}
.form{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color: $color-primary;
    &__input, &__submit, &__reset{
        font-size: 20px;
        border: 2px solid red;
    };

    &__name{
        color: olive;
    }

    &__status{
        color: darkblue;
    };

    &__species{
        color: red;
    }

    &__type{
        color: darkgreen;
    }

    &__gender{
        color: darkgoldenrod;
    }

    &__submit{
        background-color: $color-primary;
        color: red;
    }
    &__reset{
        background-color: $color-primary;
        color: greenyellow;
    }
}
