<div class="c-gallery">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of list">
            <figure class="c-gallery__figure" routerLink="/{{item.image ? 'characters': 'locations'}}/{{item.id}}">
                <img class="c-gallery__img" src="{{item.image ? item.image : 'assets/images/earth.png'}}" alt="{{item.name}}">
                <figcaption class="c-gallery__text">{{item.name}}</figcaption>
                <button (click)="addOrRemoveToFavorite($event, item)">{{flagShowFavoriteButton ? 'Add to Favorites' : 'Remove from favorites'}}</button>
            </figure>
        </div>
    </div>
</div>